#wrapped {
    height: 100vh;
    width: 100%;
}

.slider {
    width: 50%;
    height: 75vh;
    position: relative;
}

.slide {
    height: 100%;
}

.slide img { 
    object-fit: cover; 
    height: 100%; 
    width: 100%;
 }

.next {
     z-index: 1;
     position: absolute;
     top: -100px;
     right: 0;
}